
		<aside>
			<a href="/"><img alt="Site Avatar" src="/{{ ICONS_PATH }}/profile.png"></a>
			<div id="name"><a href="/">{{ SITENAME }}</a></div>
			<div id="bio">{{ BIO_TEXT }}</div>

			{% if SIDEBAR_LINKS %}
			<nav>
				<ul>
					{% for link, title in SIDEBAR_LINKS %}
					<li><a href="{{ link }}">{{ title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
			{% endif %}

			{% if SOCIAL_ICONS %}
			<div id="social">
				{% for link, title, icon in SOCIAL_ICONS %}
				<a href="{{ link }}" title="{{ title }}" class="icon fa {{ icon }}"></a>
				{% endfor %}
			</div>
			{% endif %}

			<hr id="sidebar-divider">
		</aside>